@import "bourbon.scss";

@import "breakpoints.scss";
@import "grid.scss";

body {
  background: url(../images/grid-320.png) repeat-y 50% 0;
  @media screen and (min-width: $bp2) {
    background: url(../images/grid-480.png) repeat-y 50% 0;
  }
  @media screen and (min-width: $bp3) {
    background: url(../images/grid-760.png) repeat-y 50% 0;
  }
  @media screen and (min-width: $bp4) {
    background: url(../images/grid-1000.png) repeat-y 50% 0;
  }
  @media screen and (min-width: $bp5) {
    background: url(../images/grid-1200.png) repeat-y 50% 0;
  }
}

.container {
  margin-bottom: 20px;
  @include clearfix();
}

.left, 
.right {
  background: rgba(0,0,0,.3);
  margin-bottom: 10px;
  @extend .bp1-span4;
  @extend .bp2-span4;
  @extend .bp3-span6;
  @extend .bp4-span6;
  @extend .bp5-span10;
}

.col {
  background: rgba(125,127,255,.3);
  height: 20px;
  margin-bottom: 10px;
  @extend .bp1-span1;
  @extend .bp2-span1;
  @extend .bp3-span1;
  @extend .bp4-span1;
  @extend .bp5-span1;
}

.product-tile {
  background: rgba(125,127,255,.3);
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-bottom: 10px;
  @extend .bp1-span4;
  @extend .bp2-span4;
  @extend .bp3-span4;
  @extend .bp4-span4;
  @extend .bp5-span4;
}


.side {
  background: rgba(0,0,0,.3);
  @extend .bp1-span4;
  @extend .bp2-span4;
  @extend .bp3-span4;
  @extend .bp4-span4;
  @extend .bp5-span4;
}
.products {
  background: rgba(255,127,0,.3);
  @extend .bp1-span4;
  @extend .bp2-span4;
  @extend .bp3-span8;
  @extend .bp4-span8;
  @extend .bp5-span16;

  .sub-product-tile {
    background: rgba(125,127,255,.2);
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 10px;
    @extend .bp1-span2;
    @extend .bp2-span2;
    @extend .bp3-span2;
    @extend .bp4-span2;
    @extend .bp5-span2;
  }
}